<form action="<%= @album.persisted? ? album_url : albums_url %>" method="POST">
  <%= auth_token_input %>
  <% if @album.persisted? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label for="band_name"> Authored by: </label>
  <select id ="band_name" name="album[band_id]">
    <%@bands.each do |b| %>
      <option value="<%= b.id %>"><%= b.name %></option>
    <%end %>
  </select>

  <p>
    <label for="title_input"> Album title: </label>
    <input type="text" id ="title_input" name="album[title]" value=<%=@album.title%>>
  </p>

  <p>
    <label for="live_album"> Live album? </label>
    <select id ="live_album" name="album[live]">
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>
  </p>

  <p>
    <input type="Submit" value='<%= @album.persisted? ? "Update album" : "Create album" %>'
  </p>

</form>