<h3>Band Page: "<%= @band.name %>"</h3>

<p>
  <%= link_to "Edit this band", edit_band_url %>
</p>

<h3>Albums</h3>

<% @band.albums.each_with_index do |a, i| %>

  <p> <%= (i + 1) %> - <%= link_to "#{a.title}", album_url(a.id) %><p>

<% end %>

<%= link_to "Add a new album for this band", new_album_url %>

<%= long_line %>
<p>
  <%= link_to "Back to Bands Index", bands_url %>
</p>