<!DOCTYPE html>
<html>
<head>
  <title>Music App</title>
  <%= csrf_meta_tags %>
</head>
<body>

<img src="/logo.gif"></img><br>

<% if flash[:errors] %>
    <br><%= flash[:errors]%><br>
<% end %>

<% if flash[:notice] %>
  <br><%= flash[:notice] %><br>
<% end %>

<% if logged_in?  %>
  Welcome <%= current_user.email %>
  <%= button_to "Sign out", session_url, method: :delete %>
<% else %>
  Welcome, prospective Music App user.<br><br>
  <%= link_to "Sign in", new_session_url %>
  <%= link_to "Sign up!", new_user_url %>
<% end %>

<br>________________________________</br>

<%= yield %>

</body>
</html>
